[color]
	ui = always
	branch = always
	diff = always
	interactive = always
	status = always
	grep = always
	pager = true
	decorate = always
	showbranch = always
[user]
	email = naoki.fujiki@sega.com
	name = fujiki_naoki
[grep]
	lineNumber = true
[log]
	decorate = full
